table, th, td {
  border: 1px solid black;
  width:110px;
  height:70px;
  margin-left:auto; 
  margin-right:auto;
}

#gstDtls{
	
	text-align: center;
}

#gstTable,th, td{
	border: 1px solid black;
  width:110px;
  height:30px;	
}

#status{
	
	margin: 80px;
}
#pnrDtls{
	 position: absolute;
  left: 80%;	
}
#date{
	 position: absolute;
  left: 45%;	
}